*, *::before, *::after{
    box-sizing: border-box;   /*Pour les tailles garde leur valeurs définie */
    font-family: Roboto, Arial, Helvetica, sans-serif;

}


body{
  margin:0
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

main{
    height: calc(100vh - 70px);  /*vh viewport total height without scrolling*/
    display: flex;
    background-color: #f9f9f9;
}

.side-bar{
    height: 100%;
    width:17%;
    background-color: white;
    overflow: hidden;
}

@media (max-width: 768px){
    .side-bar{
        display: none;
    }
}

.left{
    display: flex;
    align-items: center;

}

.left #menu{
    padding:0 7px;
    cursor: pointer;
}
.search{
    display: flex;
}

.search form{
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    height: 45px;
}

.search input{
    width : 600px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 35px
}

input:focus{
    outline: none;
    border: 1px solid #ddd;
}

.search button{
    height: 100%;
    width:60px;
    border: none;
    border-radius: 0% 45% 45% 0%;
}
.mic{
    margin-top:10px;
}

.material-icons{
    color:rgb(100,100,100);
    padding:0 7px;
    cursor: pointer;
}

.nav{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span{
    margin-left:15px;
}

.nav-link:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}
.active{
    background-color: #e5e5e5;
}

hr{
    height:1px;
    border: none;
    background-color: #e5e5e5;
}
 .video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #CCC;
}

.video-section:first-child{
    border-top: none;
}

.video-container{
  display: flex;
  flex-direction: column;

}


.thumbnail{
 position: relative;
 display: flex;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
}

.thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 100px;
    background-color: #AAA;
    border-radius: .5em;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon{
    margin-right: .75rem;
    border-radius:50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;

}

.video-channel-name {
    margin-bottom: .1rem;
    text-decoration: none;
    
    transition: color 150ms;

}

.video-channel-name:hover{
    color:#111;
}
.video-channel-name, 
.video-metadata{
    color: #777;

} 