<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Video Processed</title>
</head>

<body>
        <div class="uploadVideo">
            <h1>Video successfully </h1> 
            <div class="uploadVideo">
                <video controls width="400px" height="400px" >
                    <source src="{{video_path}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="language">
            <h2>Language Detected: {{language}}</h2>
        </div>

        <div class="animals">
            <h2>Animals Detected: {{animals}}</h2>
        </div>

</body>

</html>